This is a NodeJS docker container. This is a simple and small user base app. Simplecity will be the core of everything

The .appLogic/ folder has Markdown notes of may plans for this app.
  - Keep the .appLogic/ fresh in your mind as you write the code.
  - Read this as needed only edit the .appLogic/ files when users request changes.
  - use these as supplementary instruction for you to follow. 

## Coding style
  - write one line comments to make it easy for me to read your code.
  - keep the code clean and readable.
  - keep the code minimal and simple.
  - setup good logging levels along the way.
  - use easy to understand function names.

## Guide lines for your actions. 

### Adding new features
  - prioritize using the built in libraries and frameworks.
  - ask user to use `npm install ...` to install dependencies. avoid adding dependencies directly to the package.json file.

### Debugging
  - Do not jump to changing the code.
  - Make a  task specific file in the .cursor/ folder and in this file 
    * write down your thoughts and ideas.
    * give a few option to the user to choose from.
    * explain the pros and cons of each option.
  - Always wait for the user to explicitly tell you to change the code.
  - Always first perpose changes in a  file in the .cursor/ folder.
  - The user will clean up this dir when tasks are complete.

This is a very simple project lets keep the code simple and to the point.
Use simple and basic libraries and frameworks.
