# Node
node_modules/

# TypeScript
*.tsbuildinfo
public/js/

# Build output
dist/

# Environment variables
.env
data/
.direnv/

# Development files
.aider*
!aider.config.yml
prompt.md


# Coverage reports
coverage/