[MASTER]
# Add the src directory to Python path
init-hook='import sys; sys.path.append(".")'

# Python code to execute
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111, # missing-docstring
    C0103, # invalid-name
    C0301, # line-too-long
    W0511, # fixme
    R0903, # too-few-public-methods (common with Pydantic models)

[FORMAT]
# Maximum number of characters on a single line
max-line-length=250

[BASIC]
# Good variable names
good-names=i,j,k,ex,Run,_,id,db

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=6 